[Desktop Entry]
Name=TUXEDO Control Center
GenericName=Hardware Control
Comment=Control hardware features on TUXEDO/Clevo laptops
Exec=tuxedo-control-center
Icon=tuxedo-control-center
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=tuxedo;clevo;hardware;cpu;gpu;fan;power;performance;
StartupNotify=true
