name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies for GTK4 and glib
      run: |
          sudo apt-get update
          sudo apt-get install -y \
            libdbus-1-dev \
            pkg-config \
            libgtk-4-dev \
            libadwaita-1-dev

    - name: Clean the project
      run: cargo clean 

    - name: Build the project
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

    - name: Upload tarball artifact
      uses: actions/upload-artifact@v4
      with:
        name: tuxedo-rs-ubuntu-24.04-tarball
        path: tuxedo-rs-ubuntu-24.04.tar.gz
