name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-24.04
    
    steps:
    - uses: actions/checkout@v4
    
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libdbus-1-dev \
            pkg-config \
            libgtk-4-dev \
            libadwaita-1-dev \
            gettext \
            meson \
            ninja-build \
            desktop-file-utils \
            appstream

    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
