name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-24.04
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies for GTK4 and glib
  run: |
    sudo apt-get update
    sudo apt-get install -y libglib2.0-dev pkg-config libgtk-4-dev

    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
